<header class="flex h-[40%] w-[100%] flex-col items-center ">
 <div class="bg-white flex-row sp flex  w-[100%] justify-around ">
   <div class="w-[20%]">
    <img src="./assets/api_logo.webp" alt="img logo">
   </div>
    <div class="flex w-[80%] justify-end gap-4 items-center" >
        <button class="text-slate-800">Docs</button>
        <button class="text-slate-800">About</button>
        <button class="text-slate-800 w-[100px] h-[50px] bg-yellow-500">Support Us</button>
       </div>   
 </div>
<img class="w-[800px]" src="./assets/img_entrance.webp" alt="">
</header>